<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	</head>

	

		<!--<form id="unique" method="post" action="#">
			<input style='border: 2px solid saddlebrown; border-radius: 4px;width: 40%;padding: 8px 12px; margin: 6px 0; box-sizing: border-box;' type='text' id = "ids" name='ids' placeholder="Enter a weird as fuck but unique handle" /><br/>
			<input style= "padding: 10px 16px; margin: 8px 0;box-sizing: border-box;" type='submit' id ="submit" value='Submit' />
		</form>

			
		
	</body>-->

	<body style="background-color: rgb(25, 92, 70);">
			<div class="container ">
			
				<div class="row">
					<div class="col-sm-4">
	
					</div>
					<div class="col-sm-4 well">
							<form class="form-group" action="#" method="post" id="unique">
									<div class="row">
										<div class="col-sm-12">
											<h1 style="color:rgb(100, 22, 8)">CHAT APP</h1>
											<p style="color:red; text-align:justify">
												If it's your first time chatting, Please enter a unique userId.
											</p>
											<p style="color:red; text-align:justify">
												Else, Type in the ID you have used before to continue that chat.
											</p> 
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group input-group">
												<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
												<input id="ids" type="text" name="ids" class="form-control input-lg" 
													placeholder="Please enter your userId*" required="required" >
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-sm-12" >
											<input type="submit" style="float:right" class="btn btn-default btn-md btn-send btn-lg" name="submit" value="Start Chatting"/> 
										</div>
									</div>
								</form>
						   </div>
							<div class="col-sm-1"></div>
						</div>
					</div>
					<div class="col-sm-4">
						
					</div>
				</div>
			</div>
				  
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"></script>
	<script>
		$('#unique').submit(function(e)
		{
			e.preventDefault();
			var userId = $('#ids').val()
			console.log(userId)
			$.ajax(
			{
				url: "usernames",
				method: "post",
				data: {"userId": userId},
				success: function(data)
				{
					//New user
					alert("Taking you to chat")
					if (data == "new")
					{
						//Registering the new user
						var config = 
						{
							apiKey: "AIzaSyCkYQpBbWHJFaoIQvYFFuU0ZNXH4cG3B7o",
							authDomain: "chatapp4nis21.firebaseapp.com",
							databaseURL: "https://chatapp4nis21.firebaseio.com",
							projectId: "chatapp4nis21",
							storageBucket: "chatapp4nis21.appspot.com",
							messagingSenderId: "620228335142"
						};

						firebase.initializeApp(config);
						const messaging = firebase.messaging();

						messaging.requestPermission()
						.then(function()
						{
							console.log("Notification Permission Granted");
							return messaging.getToken()
						})
							.then(function(currentToken)
							{
								console.log("Current Token is ",currentToken)
								$.ajax(
								{
									url: "register",
									method: "post",
									data:
									{
										userId: userId,
										devId: currentToken
									},
									success: function()
									{
										var form = $('<form action = "message" method = "post">'+'<input type="hidden" name="userId" value ="'+userId+'"/>'+'</form>')
										$('body').append(form)
										form.submit();  
									}
								})
							})
							.catch(function(err)
							{
								console.log("Unable to get permission to notify\n",err)
							})

						messaging.onTokenRefresh(function()
						{
							messaging.getToken()
							.then(function(refreshedToken)
							{
								console.log("Token refreshed")
								$.ajax(
								{
									url: "register",
									method: "post",
									data:
									{
										userId: userId,
										devId: currentToken
									},
									success: function()
									{
										var form = $('<form action = "message" method = "post">'+'<input type="hidden" name="userId" value ="'+userId+'"/>'+'</form>')
										$('body').append(form)
										form.submit();  
									}
								})
							})
							.catch(function(err)
							{
								console.log("Unable to refresh token")
							})
						})
					}
					else if (data == "exists")
					{
						//Open up the chat with messages loaded
						var form = $('<form action = "message" method = "post">'+'<input type="hidden" name="userId" value ="'+userId+'"/>'+'</form>')
						$('body').append(form)
						form.submit();
					}
				},
				error: function(err)
				{
					console.error(err)
					var err_message = err.statusText
					alert(err_message)
				}
			})
		});
	</script>
</html>
